In [1]:
#import libraries as needed
import pandas as pd

In [13]:
#import database
df = pd.read_csv('states_all.csv')
print(df.head())
print(df.tail())
print(df.info())

       PRIMARY_KEY       STATE  YEAR  ENROLL  TOTAL_REVENUE  FEDERAL_REVENUE  \
0     1992_ALABAMA     ALABAMA  1992     NaN      2678885.0         304177.0
1      1992_ALASKA      ALASKA  1992     NaN      1049591.0         106780.0
2     1992_ARIZONA     ARIZONA  1992     NaN      3258079.0         297888.0
3    1992_ARKANSAS    ARKANSAS  1992     NaN      1711959.0         178571.0
4  1992_CALIFORNIA  CALIFORNIA  1992     NaN     26260025.0        2072470.0

   STATE_REVENUE  LOCAL_REVENUE  TOTAL_EXPENDITURE  INSTRUCTION_EXPENDITURE  \
0      1659028.0       715680.0          2653798.0                1481703.0
1       720711.0       222100.0           972488.0                 498362.0
2      1369815.0      1590376.0          3401580.0                1435908.0
3       958785.0       574603.0          1743022.0                 964323.0
4     16546514.0      7641041.0         27138832.0               14358922.0

   ...  GRADES_4_G  GRADES_8_G  GRADES_12_G  GRADES_1_8_G  GRADES_9_12_G  \
0  ...     57948.0     58025.0      41167.0           NaN            NaN
1  ...      9748.0      8789.0       6714.0           NaN            NaN
2  ...     55433.0     49081.0      37410.0           NaN            NaN
3  ...     34632.0     36011.0      27651.0           NaN            NaN
4  ...    418418.0    363296.0     270675.0           NaN            NaN

   GRADES_ALL_G  AVG_MATH_4_SCORE  AVG_MATH_8_SCORE  AVG_READING_4_SCORE  \
0      731634.0             208.0             252.0                207.0
1      122487.0               NaN               NaN                  NaN
2      673477.0             215.0             265.0                209.0
3      441490.0             210.0             256.0                211.0
4     5254844.0             208.0             261.0                202.0

   AVG_READING_8_SCORE
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN

[5 rows x 25 columns]
             PRIMARY_KEY          STATE  YEAR  ENROLL  TOTAL_REVENUE  \
1710       2019_VIRGINIA       VIRGINIA  2019     NaN            NaN
1711     2019_WASHINGTON     WASHINGTON  2019     NaN            NaN
1712  2019_WEST_VIRGINIA  WEST_VIRGINIA  2019     NaN            NaN
1713      2019_WISCONSIN      WISCONSIN  2019     NaN            NaN
1714        2019_WYOMING        WYOMING  2019     NaN            NaN

      FEDERAL_REVENUE  STATE_REVENUE  LOCAL_REVENUE  TOTAL_EXPENDITURE  \
1710              NaN            NaN            NaN                NaN
1711              NaN            NaN            NaN                NaN
1712              NaN            NaN            NaN                NaN
1713              NaN            NaN            NaN                NaN
1714              NaN            NaN            NaN                NaN

      INSTRUCTION_EXPENDITURE  ...  GRADES_4_G  GRADES_8_G  GRADES_12_G  \
1710                      NaN  ...         NaN         NaN          NaN
1711                      NaN  ...         NaN         NaN          NaN
1712                      NaN  ...         NaN         NaN          NaN
1713                      NaN  ...         NaN         NaN          NaN
1714                      NaN  ...         NaN         NaN          NaN

      GRADES_1_8_G  GRADES_9_12_G  GRADES_ALL_G  AVG_MATH_4_SCORE  \
1710           NaN            NaN           NaN             247.0
1711           NaN            NaN           NaN             240.0
1712           NaN            NaN           NaN             231.0
1713           NaN            NaN           NaN             242.0
1714           NaN            NaN           NaN             246.0

      AVG_MATH_8_SCORE  AVG_READING_4_SCORE  AVG_READING_8_SCORE
1710             287.0                224.0                262.0
1711             286.0                220.0                266.0
1712             272.0                213.0                256.0
1713             289.0                220.0                267.0
1714             286.0                227.0                265.0

[5 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 335.1+ KB
None

In [12]:
#Check for duplicate data and remove if necessary
df = df.drop_duplicates()
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1715 entries, 0 to 1714
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   PRIMARY_KEY                   1715 non-null   object
 1   STATE                         1715 non-null   object
 2   YEAR                          1715 non-null   int64
 3   ENROLL                        1224 non-null   float64
 4   TOTAL_REVENUE                 1275 non-null   float64
 5   FEDERAL_REVENUE               1275 non-null   float64
 6   STATE_REVENUE                 1275 non-null   float64
 7   LOCAL_REVENUE                 1275 non-null   float64
 8   TOTAL_EXPENDITURE             1275 non-null   float64
 9   INSTRUCTION_EXPENDITURE       1275 non-null   float64
 10  SUPPORT_SERVICES_EXPENDITURE  1275 non-null   float64
 11  OTHER_EXPENDITURE             1224 non-null   float64
 12  CAPITAL_OUTLAY_EXPENDITURE    1275 non-null   float64
 13  GRADES_PK_G                   1542 non-null   float64
 14  GRADES_KG_G                   1632 non-null   float64
 15  GRADES_4_G                    1632 non-null   float64
 16  GRADES_8_G                    1632 non-null   float64
 17  GRADES_12_G                   1632 non-null   float64
 18  GRADES_1_8_G                  1020 non-null   float64
 19  GRADES_9_12_G                 1071 non-null   float64
 20  GRADES_ALL_G                  1632 non-null   float64
 21  AVG_MATH_4_SCORE              565 non-null    float64
 22  AVG_MATH_8_SCORE              602 non-null    float64
 23  AVG_READING_4_SCORE           650 non-null    float64
 24  AVG_READING_8_SCORE           562 non-null    float64
dtypes: float64(22), int64(1), object(2)
memory usage: 348.4+ KB
None

In [17]:
#Pull out data to be used and remove any rows with missing data
working_df = df[['STATE', 'YEAR', 'TOTAL_EXPENDITURE', 'GRADES_ALL_G', 'AVG_MATH_4_SCORE', 'AVG_MATH_8_SCORE', 'AVG_READING_4_SCORE', 'AVG_READING_8_SCORE']]
print(working_df.info())
clean_df = working_df.dropna(how = 'any')
print(clean_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1715 entries, 0 to 1714
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   STATE                1715 non-null   object
 1   YEAR                 1715 non-null   int64
 2   TOTAL_EXPENDITURE    1275 non-null   float64
 3   GRADES_ALL_G         1632 non-null   float64
 4   AVG_MATH_4_SCORE     565 non-null    float64
 5   AVG_MATH_8_SCORE     602 non-null    float64
 6   AVG_READING_4_SCORE  650 non-null    float64
 7   AVG_READING_8_SCORE  562 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 107.3+ KB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 357 entries, 561 to 1223
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   STATE                357 non-null    object
 1   YEAR                 357 non-null    int64
 2   TOTAL_EXPENDITURE    357 non-null    float64
 3   GRADES_ALL_G         357 non-null    float64
 4   AVG_MATH_4_SCORE     357 non-null    float64
 5   AVG_MATH_8_SCORE     357 non-null    float64
 6   AVG_READING_4_SCORE  357 non-null    float64
 7   AVG_READING_8_SCORE  357 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 25.1+ KB
None

In [22]:
#EDA
spending_per_pupil = (clean_df['TOTAL_EXPENDITURE'] / clean_df['GRADES_ALL_G'])
#print(spending_per_pupil.head())

#descriptive stats
#mean spending_per_pupil for each state
mean_spending_per_pupil = spending_per_pupil.mean()
#median spending_per_pupil for each state
median_spending_per_pupil = spending_per_pupil.median()
#range spending_per_pupil for each state
min_spending_per_pupil = spending_per_pupil.min()
max_spending_per_pupil = spending_per_pupil.max()

print(mean_spending_per_pupil)
print(median_spending_per_pupil)
print(min_spending_per_pupil)
print(max_spending_per_pupil)

11.71679009489712
11.045665011200574
5.963684092737424
24.00574083594124

In [23]:
#mean, median and range of 4th grade scores
mean_4_reading = clean_df.AVG_READING_4_SCORE.mean()
mean_4_math = clean_df.AVG_MATH_4_SCORE.mean()

median_4_reading = clean_df.AVG_READING_4_SCORE.median()
median_4_math = clean_df.AVG_MATH_4_SCORE.median()

min_4_reading = clean_df.AVG_READING_4_SCORE.min()
min_4_math = clean_df.AVG_MATH_4_SCORE.min()

max_4_reading = clean_df.AVG_READING_4_SCORE.max()
max_4_math = clean_df.AVG_MATH_4_SCORE.max()

#mean, median and range of 8th grade scores
mean_8_reading = clean_df.AVG_READING_8_SCORE.mean()
mean_8_math = clean_df.AVG_MATH_8_SCORE.mean()

median_8_reading = clean_df.AVG_READING_8_SCORE.median()
median_8_math = clean_df.AVG_MATH_8_SCORE.median()

min_8_reading = clean_df.AVG_READING_8_SCORE.min()
min_8_math = clean_df.AVG_MATH_8_SCORE.min()

max_8_reading = clean_df.AVG_READING_8_SCORE.max()
max_8_math = clean_df.AVG_MATH_8_SCORE.max()

print(mean_4_reading)
print(mean_4_math)
print(median_4_reading)
print(median_4_math)
print(min_4_reading)
print(min_4_math)
print(max_4_reading)
print(max_4_math)

print(mean_8_reading)
print(mean_8_math)
print(median_8_reading)
print(median_8_math)
print(min_8_reading)
print(min_8_math)
print(max_8_reading)
print(max_8_math)

219.92436974789916
238.91316526610643
221.0
240.0
188.0
205.0
237.0
253.0
263.59943977591035
280.96918767507003
265.0
282.0
238.0
243.0
277.0
301.0

In [26]:
#correlations between spending_per_pupil and test scores
from scipy.stats import pearsonr

spending_scores_4_rdg_corr, p = pearsonr(spending_per_pupil, clean_df.AVG_READING_4_SCORE)
print(spending_scores_4_rdg_corr)

spending_scores_4_math_corr, p = pearsonr(spending_per_pupil, clean_df.AVG_MATH_4_SCORE)
print(spending_scores_4_math_corr)

spending_scores_8_rdg_corr, p = pearsonr(spending_per_pupil, clean_df.AVG_READING_8_SCORE)
print(spending_scores_8_rdg_corr)

spending_scores_8_math_corr, p = pearsonr(spending_per_pupil, clean_df.AVG_MATH_8_SCORE)
print(spending_scores_8_math_corr)

0.35149330665514544
0.3444343221684064
0.3236657951547545
0.3401576296957414

In [42]:
#MD changes in spending and test scores over time